Repository crust-firmware/crust, pull requests merged in 2018-04, with the labels that each got.

#125 drivers: clock: Shrink the generic clock functions
  drivers/clock/clock.c
Labels: A-drivers, S-review, T-enhancement

#122 sun50i platform CSS implementation
  platform/sun50i/css.c
Labels: A-common, S-review, T-required

#139 common: scpi: Remove rx_size parameter from handlers
  common/scpi_cmds.c
Labels: A-common, S-review, T-enhancement

#113 test: Add script to verify Crust enables/disables cores
  test/scripts/core_enable_disable.sh
Labels: A-tests, T-required
