Repository crust-firmware/crust, pull requests merged in 2018-03, with the labels that each got.

#89 common: Unconditionally define debug log level
  common/debug.c
  include/common/debug.h
Labels: A-common, S-review, T-bug

#91 drivers: irqchip: Add assertions to the irqchip framework
  drivers/irqchip/irqchip.c
  include/drivers/irqchip.h
Labels: A-drivers, S-review, T-enhancement

#94 project: Add community documents
  CONTRIBUTING.md
  README.md
  docs/code_of_conduct.md
  docs/issue_template.md
  docs/pull_request_template.md
Labels: A-docs, S-review, T-enhancement

#74 Crust boot test
  Makefile
  common/debug.c
  common/main.c
  common/test.c
  include/common/debug.h
  include/common/test.h
Labels: A-tests, S-WIP, T-required

#96 project: Fix header include guards
  include/common/arch/exception.h
  include/common/arch/spr.h
  include/common/console.h
  include/common/debug.h
  include/common/delay.h
  include/common/dm.h
  include/common/exception.h
  include/common/spr.h
  include/common/work.h
  include/lib/bitfield.h
  include/lib/bitmap.h
  include/lib/byteswap.h
  include/lib/compiler.h
  include/lib/error.h
  include/lib/mmio.h
  include/lib/util.h
  include/stdlib/ctype.h
  include/stdlib/limits.h
  include/stdlib/stdarg.h
  include/stdlib/stdbool.h
  include/stdlib/stddef.h
  include/stdlib/stdint.h
  include/stdlib/string.h
Labels: A-lib, S-review, T-bug

#100 Replace the wallclock driver class with a counter API
  common/wallclock.c
  drivers/wallclock/sun6i-cnt64.c
  drivers/wallclock/wallclock.c
  include/common/dm.h
  include/common/wallclock.h
  include/drivers/wallclock.h
  include/drivers/wallclock/sun6i-cnt64.h
  platform/sun50i/devices.c
Labels: A-common, A-drivers, S-review, T-bug

#108 platform: sun50i: Fix comment formatting in device list
  platform/sun50i/devices.c
Labels: A-docs, S-review, T-enhancement

#107 SCPI: Fix buffer struct alignment issues
  common/scpi.c
  include/common/scpi_protocol.h
Labels: A-api, S-review, T-bug

#111 SCPI: Fix copying partial-word payloads
  common/scpi.c
Labels: A-api, S-review, T-bug

#109 Makefile: Prevent accidentally introducing VLAs
  Makefile
Labels: A-common, S-review, T-enhancement

#116 drivers: Rename PIO driver
  drivers/gpio/sunxi-gpio.c
  drivers/i2c/sun6i-a31-i2c.c
  include/common/dm.h
  include/drivers/gpio.h
  include/drivers/gpio/sunxi-gpio.h
  include/drivers/pio/sunxi-pio.h
  platform/sun50i/devices.c
Labels: A-drivers, S-review, T-enhancement

#120 Clock framework/driver rework
  drivers/clock/clock.c
  drivers/clock/sunxi-ccu.c
  include/drivers/clock.h
  include/drivers/clock/sunxi-ccu.h
  platform/sun50i/devices.c
  platform/sun50i/include/platform/ccu.h
  platform/sun50i/include/platform/r_ccu.h
Labels: A-drivers, S-review, T-bug, T-enhancement

#114 Add regulator driver class
  drivers/regulator/regulator.c
  include/common/dm.h
  include/drivers/regulator.h
Labels: A-drivers, S-review, T-required
